number of points = 731
0 slow_mpp_jit elapsed time = 0.267107[s]
1 slow_mpp_jit elapsed time = 0.010541[s]
2 slow_mpp_jit elapsed time = 0.011016[s]
3 slow_mpp_jit elapsed time = 0.011841[s]
0 singlediode elapsed time = 0.013187[s]
1 singlediode elapsed time = 0.011986[s]
2 singlediode elapsed time = 0.012876[s]
3 singlediode elapsed time = 0.013185[s]
(singlediode - slow_mpp_jit).abs()
 count    731.000000
mean      -0.000140
std        0.000268
min       -0.001539
25%       -0.000163
50%        0.000000
75%        0.000000
max        0.000000
dtype: float64


number of points = 8761
0 slow_mpp_jit elapsed time = 0.304554[s]
1 slow_mpp_jit elapsed time = 0.052078[s]
2 slow_mpp_jit elapsed time = 0.050663[s]
3 slow_mpp_jit elapsed time = 0.050045[s]
0 singlediode elapsed time = 0.060079[s]
1 singlediode elapsed time = 0.052729[s]
2 singlediode elapsed time = 0.053135[s]
3 singlediode elapsed time = 0.055275[s]
(singlediode - slow_mpp_jit).abs()
 count    8.761000e+03
mean    -9.067401e-05
std      2.059644e-04
min     -1.549522e-03
25%     -6.873591e-05
50%     -2.308914e-08
75%      0.000000e+00
max      0.000000e+00
dtype: float64


number of points = 525601
0 slow_mpp_jit elapsed time = 2.46883[s]
1 slow_mpp_jit elapsed time = 2.3082[s]
2 slow_mpp_jit elapsed time = 2.19921[s]
3 slow_mpp_jit elapsed time = 2.33642[s]
0 singlediode elapsed time = 3.41547[s]
1 singlediode elapsed time = 3.64378[s]
2 singlediode elapsed time = 3.54097[s]
3 singlediode elapsed time = 3.193[s]
count    5.256010e+05
mean     9.334509e-05
std      2.109775e-04
min      0.000000e+00
25%      0.000000e+00
50%      2.328990e-08
75%      6.835588e-05
max      1.557723e-03
dtype: float64


number of points = 1051201
0 slow_mpp_jit elapsed time = 25.1237[s]
1 slow_mpp_jit elapsed time = 19.005[s]
2 slow_mpp_jit elapsed time = 18.9404[s]
3 slow_mpp_jit elapsed time = 18.9563[s]
0 singlediode elapsed time = 6.71949[s]
1 singlediode elapsed time = 6.79304[s]
2 singlediode elapsed time = 7.28941[s]
3 singlediode elapsed time = 7.42004[s]
(singlediode - slow_mpp_jit).abs()
 count    1.051201e+06
mean    -9.248689e-05
std      2.105602e-04
min     -1.557463e-03
25%     -6.626797e-05
50%      0.000000e+00
75%      0.000000e+00
max      6.313542e-06
dtype: float64
